@charset "utf-8";

/****** Zebra style table ******/

table {
    margin: 0 auto;
    border: 2px solid black;
    empty-cells: show;
    border-collapse: collapse;
    width: 80%;
    min-width: 600px;
    max-width: 1500px;
    overflow: hidden;
    
}
caption{
   background-color: white;
   font-size: 3em;
}
th, td{
padding: 0.25rem;
border: 2px solid black;
width: 6rem;
height: 3rem;
text-align:center;

}

td, th{
position: relative;
}

th{
background-color: orange;
}
tr:hover{
  background-color: yellow;
}

td:hover::after,
th:hover::after{ 
  content: "";
  position: absolute;
  background-color: yellow;
  left:0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}
